.container {
    margin: auto;
    padding: 2% 4%;
    text-align: left;
    max-width: 1200px;
    margin: 0 auto;

    /*
    h1 {
      font-size: 72px;
      font-weight:800;
    }

    h2 {
      font-size: 24px;
      font-weight: 700px;
    }
    p {
      font-size: 16px;
    }
    */
  }